/*
 * author: fyaniquez
 * date 12/10/2022
 * purpose: estilos de pagina estática inicial
 */

@import "helper.css";

/* cabecera */
.header {
    height:50px;
    line-height: 50px;
    background-color: white;
    padding: 0 40px 0 40px;
    box-shadow: 0 5px 5px #c0c0c0;
}
.header-logo {
    padding: 5px 0 5px 0;
}
.header-spacer {
    display: inline;
}
.header-nav {
    padding: 5px 20px 5px 0;
    float: right;
}
.header-nav a {
    text-decoration: none;
    color: #404040;
}
.header-nav a:hover {
    color: black;
}
/* fin cabecera */
